{% extends "lending/base.html" %}

{% block content %}
<main>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№ поз</th>
            <th scope="col">Наименование</th>
            <th scope="col">Количество</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody> {% for product_basket in products %}
        <tr>
            <th scope="row">1</th>
            <td>{{product_basket.id_product.name}}</td>
            <td>{{product_basket.numbers}}</td>
            <td>
                <form action="{% url 'product:delete_product'%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id_product" value="{{product_basket.id_product.id}}">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}